<div id="larger" class="get-location image_padding">    

  <div class="ui form login">
  
        <div class="field median-logo">
          <h3 class="signInHeader">Login to</h3>
          <%= image_tag("median-logo1.png") %>
        </div>

      <%= form_tag login_path do %>           
          <div class="field">
            <%= text_field_tag :email, params[:email], autofocus: true, :placeholder => "Email", class:"form-control" %>
          </div>
          
          <div class="field">
              <%= password_field_tag :password, params[:password], :placeholder => "Password", class:"form-control" %>
          </div>
          
            <!-- hidding tags for user location -->
            <%= hidden_field_tag 'user_lat' %>
            <%= hidden_field_tag 'user_lng' %>

          <div class="field">
            <%= submit_tag "Log in", id:"submit-user", :class => 'ui button' %>
          </div>

          <div class="field">
            <%= link_to "Don't have an account? Sign up here", new_user_path %>
          </div>

          <div class="field forgotPassword">
            <%= link_to "Forgot Password?", new_reset_path %>
          </div> 
      <% end %> <!-- end form_tag -->
  </div><!-- end ui form -->

  <div class="ui inverted segment footer">
    <%= link_to "About Median", about_path, :class => "footer_link"%>
    <%= link_to "Our Team", contact_us_path, :class => "footer_link"%>
  </div> 

</div>


<!-- <script>
  
  var images = ["/assets/restaurant-690569_1280.jpg", "https://static.pexels.com/photos/5938/food-salad-healthy-lunch.jpg", "/assets/restaurant-690569_1280.jpg"];

  var randomNum = Math.floor(Math.random() * images.length); 
  console.log(randomNum);

  var randomImage = images[randomNum];

$("#larger").css("background", "url(" + randomImage + ")");

console.log(randomImage);

</script> 
-->

<!--  hidden field with latitude and longitude. sent when user hits submit..
  - type: hidden, for input element.. 

 when user hits button, calculate lat and lng, prevent default action of button.. 
  - send  -->