<div class="edit-picture-page">


<div class="ui form editForm">
<h2 class="profileHeader">Edit Your Profile</h2>

<%= form_for(@current_user) do |f| %>
	<%= render partial: 'users/errors', locals:{instance:@current_user} %>

	<div class="field">
		<%= f.text_field :first_name, :placeholder => "First Name" %>
	</div>

	<div class="field">
		<%= f.text_field :email, :placeholder => "Email" %>
	</div>

	<div class="field">
		<%= f.text_field :img_url, :placeholder => "Image URL"  %>
	</div>

	<div class="field">
		<%= f.text_field :address, :placeholder => "Address"  %>
	</div>

	<div class="field">
			<%= f.password_field :password, :placeholder => "Password"%>	
	</div>
	<div class="field">
		<%= f.submit "Update", :class => 'ui button signup' %>
	</div>


<% end %>	
</div>
</div>