<div class="wrapper"> 
<div id="signup-larger" class="get-location">
	
  <div class="ui grid">
   <div class="sixteen wide column">
    <div class="ui form">
	    <div class="signup-form-background">
			  <div class="median-logo">
				  <%= image_tag("median-logo1.png") %>
			  </div>
		    

			  <%= form_for @user, :html => { :multipart => true }  do |f| %>
			  <%= render partial: 'users/errors', locals:{instance:@user} %>
			  <div class="field">
			  	<h3>Signup</h3>
			  </div>
			  <div class="field">
					<%= f.text_field :first_name, :placeholder => "First Name"%>
			  </div>
			  <div class="field">
					<%= f.text_field :email, :placeholder => "Email" %>
			  </div>
			  <div class="field">
			  	<%= f.text_field :img_url, :placeholder => "Img URL" %>
			  </div>
			  <div class="field">
			  	<%= f.text_field :address, :placeholder => "Address" %>
			  </div>
			  <div class="field">
				  <%= f.password_field :password, :placeholder => "Password" %>
			  </div>
			  <div class="field avatar-label">
			  	<%= f.file_field :avatar %>
			  </div>
			  <%= f.hidden_field :lat %>
			  <%= f.hidden_field :lng %>
			  <div>
			  	<%= f.submit "Sign-up", :class => 'ui button signup' %>
			  </div>
			  <div class="field login_here">
          <%= link_to "Have an account? Login here", login_path %>
        </div>
        <% end %>
	     </div>
     </div>
   </div>
  </div>	

</div><!-- sign-up larger -->

<div class="clearfooter"></div>

</div><!-- end wrapper -->


<div id="footer">
<div class="ui grid">
  <div class="nine wide column darkblue"></div>
  <div class="six wide column darkblue">
		  <%= link_to " About Median ", about_path, :class => "footer_link"%>
		   <%= link_to " Our Team ", contact_us_path, :class => "footer_link"%>
	</div> 
  <div class="one wide column darkblue"></div>
</div>
</div>

