
<div class="profileBackground">
	

	  <div class="show-profile-info">
		<h2 class="profileHeader" >Hello, <%= @current_user.first_name %></h2>


		<ul class="user-profile-info profile">
			<li class="profile">
				<%= image_tag @current_user.avatar, :class => "avatar" %>
			</li>
			<li class="profile">
				<%= @current_user.first_name %></li>
			<li class="profile">
				<%= @current_user.email %></li>
			<li lass="profile">
				<%= @current_user.address%>
			</li>
			<li class="profile">
				<%= link_to "Edit Profile",edit_user_path(@current_user), :class => 'ui button'%><br>
			</li>
			<li class="profile">	
				<%= link_to "Delete Account", user_path(@current_user), :class => 'ui button', method: :delete %><br>
			</li>
		</ul>
	</div>	



</div>