
<div class="profileBackground ui fluid image">
	

	  <div class="show-profile-info">
		<h2 class="profileHeader" >Hello, <%= @current_user.first_name %></h2>



		<form class="ui center form profileForm">
			<span>User Image: </span><%= image_tag @current_user.img_url, :class => "avatarProfile field" %>
			<div class="field">
				<p>User Name: <%= @current_user.first_name %></p>
			</div>
			<div class="center aligned field">
				<p>Email: <%= @current_user.email %></p>
			</div>
			<div class="field">
				<p>Address: <%= @current_user.address%></p>
			</div>
			<div class="field">
				<%= link_to "Edit Profile",edit_user_path(@current_user), :class => 'ui button'%>
				<%= link_to "Delete Account", user_path(@current_user), :class => 'ui button', method: :delete %><br>
			</div>
		</form>
	</div>	



</div>