<!DOCTYPE html>
<html>
<head>
  <title>Median</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.20&signed_in=true&libraries=geometry"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %> lightPurple">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

</body>
</html>
